body {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #e7e7eb;
  color: rgb(13, 13, 13);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-right: 10px;
}

.profile-info h1 {
  margin: 0;
  font-size: 24px;
}

.profile-info h2 {
  margin: 0;
  font-size: 16px;
  color: #1a237e;
}

.toggle-section {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.toggle-button {
  background-color: #1a237e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.toggle-button:hover {
  background-color: #3f51b5;
}

.toggle-button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.main-content .content {
  display: none; /* Hide all sections by default */
  margin-top: 20px;
}

.main-content .content.active {
  display: block; /* Show only the active section */
}

/* Social Media Section Styling */
.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons li a {
  color: #fff;
  font-size: 1.5em;
  background-color: #333;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.social-icons li a:hover {
  background-color: #ffb300;
}

.form-container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Form Elements Styling */
form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  color: #333;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  height: 80px;
  resize: vertical;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: #3949ab;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #303f9f;
}

/* Skill Bar Styling */
.skill-bar {
  list-style: none;
  padding: 0;
}

.skill-bar li {
  margin-bottom: 10px;
}

.bar {
  width: 50%;
  height: 10px;
  background-color: #3f4388;
  border-radius: 5px;
  overflow: hidden;
}

.level {
  height: 100%;
  background-color: #ffb300;
  width: 0%; /* Default to 0% */
  transition: width 1s ease-in-out;
}

.interests ul {
  list-style: none;
  padding: 0;
}

.interests ul li {
  display: inline-block;
  margin-right: 10px;
  background-color: #ffb300;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
